<ion-header>
  <ion-navbar>
    <ion-title>Detalhes do jogo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-list>
  <ion-list-header>Detalhes</ion-list-header>
  <ion-item>
    <ion-label color="primary" stacked>Nome do jogo</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nintendo Switch</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>PC</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Playstation 4</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Xbox One</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-list-header>QrCode</ion-list-header>
  <button ion-button full>Gerar QRCode</button>
</ion-list>
</ion-content>